body {
    font-family: Manrope;
    color:black;
    line-height: 1.4;
    font-size: 0.9rem;
    background-color: white;
}

html {
    box-sizing: border-box;
}

header {
    color: white;
    background-color: black;
    display: inline-block;
    width: 1280px;
}

header, h1 {
    text-align: start;
}

nav, ul {
    list-style-type: none;
    color: white;
    display: flex;
    justify-content: flex-end;
}

.about-me {
    background-color: white;
    width: 1280px;
}

.what-i-can-do {
    background-color: #fafafa;
    max-width: 1280px; min-height: 450px;
}

.services {
    width: 28%; min-height: 250px;
    background-color: white;
    float: right;
}

.services:nth-child(2) {
    background-color: white;
}

.services:nth-child(3) {
    background-color: white;
}





